from aiogram import Router
from aiogram.types import Message

from app.services.matchmaking import (
    add_to_queue,
    create_match,
    active_pairs
)

from app.services.anti_spam import check_spam

router = Router()

@router.message(lambda m: m.text == "🔍 Найти")
async def find_chat(message: Message):
    uid = message.from_user.id

    await add_to_queue(uid)

    match = await create_match()

    if match:
        u1, u2 = match

        await message.bot.send_message(u1, "✅ Собеседник найден")
        await message.bot.send_message(u2, "✅ Собеседник найден")
    else:
        await message.answer("🔍 Поиск собеседника...")

@router.message(lambda m: m.text == "🛑 Стоп")
async def stop_chat(message: Message):
    uid = message.from_user.id

    partner = active_pairs.get(uid)

    if not partner:
        return

    del active_pairs[uid]
    del active_pairs[partner]

    await message.answer("🛑 Чат завершён")

    await message.bot.send_message(
        partner,
        "🛑 Собеседник покинул чат"
    )

@router.message()
async def relay(message: Message):
    uid = message.from_user.id

    if not check_spam(uid):
        return

    partner = active_pairs.get(uid)

    if not partner:
        return

    await message.bot.send_message(partner, message.text)
