from aiogram.types import ReplyKeyboardMarkup, KeyboardButton

def main_kb():
    return ReplyKeyboardMarkup(
        keyboard=[
            [
                KeyboardButton(text="🔍 Найти"),
                KeyboardButton(text="🛑 Стоп")
            ],
            [
                KeyboardButton(text="👤 Профиль"),
                KeyboardButton(text="👑 Premium")
            ]
        ],
        resize_keyboard=True
    )
